<h1>Assignment One</h1>
<app-employee-sort-one></app-employee-sort-one>
<h1>Assignment Two</h1>
<app-employee-search-two> </app-employee-search-two>
<h1>Assignment Three</h1>
<app-employee-search-name-gender-three></app-employee-search-name-gender-three>
<h1>Assignment Four</h1>
<app-employee-gender-conditional-four></app-employee-gender-conditional-four>
<h1>Assignment Five</h1>
<app-employee-show-hide-column-five></app-employee-show-hide-column-five>
<h1>Assignment Six</h1>
<app-employee-mask-salary-six></app-employee-mask-salary-six>