<div class="wrapper">
  
  <div class="table">
   <div style="margin-bottom: 20px">
        <label class="checkbox-inline">
          <input type="checkbox" [value]="showSalary" (change)="showSalary = $event.target.checked" /> Show Salary
        </label>
      </div>
  <div class="table">
    <div class="row header blue">
      <div class="cell">
        Name
      </div>
      <div class="cell">
        Date Of Birth
      </div>
      <div class="cell">
        Gender
      </div>
      <div class="cell" *ngIf = 'showSalary'>
        Salary
      </div>
    </div>
    <ng-container *ngFor="let emp of employeeList">
    <div class="row">
      <div class="cell">
        {{emp.employeeName | uppercase}}
      </div>
      <div class="cell">
        {{emp.employeeDOB | date:'yyyy-MM-dd HH:mm:ss Z'}}
      </div>
      <div class="cell">
        {{(emp.employeeGender === "Male") ? 1 : 2}}
      </div>
      <div class="cell" *ngIf = 'showSalary'>
        {{emp.employeeSalary | number }}
      </div>
       
    
    </div>
    </ng-container>
  </div>
  
</div>